textarea {
    min-height: 400px;
    background-color: #5e5e5e;
}
.card-body:hover{
    cursor: pointer;
}
.btn-group-sm > .btn, .btn-sm {
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
    background-color: white;
}